@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'arimaExtraLight';
      src: url('../assets/fonts/Arima-ExtraLight.ttf') format('truetype');
   }
   @font-face {
      font-family: 'arimaLight';
      src: url('../assets/fonts/Arima-Light.ttf') format('truetype');
   }
   @font-face {
      font-family: 'arimaRegular';
      src: url('../assets/fonts/Arima-Regular.ttf') format('truetype');
   }
   @font-face {
      font-family: 'arimaBold';
      src: url('../assets/fonts/Arima-Bold.ttf') format('truetype');
   }
   @font-face {
      font-family: 'arimaSmiBold';
      src: url('../assets/fonts/Arima-SemiBold.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsThin';
      src: url('../assets/fonts/Poppins-Thin.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsExtraLight';
      src: url('../assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsLight';
      src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsRegular';
      src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsMedium';
      src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsSemibold';
      src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsBold';
      src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
   }
   @font-face {
      font-family: 'poppinsExtraBold';
      src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
   }

   html {
      scroll-behavior: smooth;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
   }

   @media only screen and (min-width: 900px) {
      ::-webkit-scrollbar {
         width: 6px;
         height: 6px;
         background: #000;
      }

      ::-webkit-scrollbar-track {
         background: #ffffff0d;
         border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb {
         background: #ffffff26;
         border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb:hover {
         background: #ffffff40;
      }
   }
}
